* {
    padding: 0 0;
    box-sizing: border-box;
}

h2 {
    font-size: 40px;
}

.nav-menu {
    border: 1px solid aqua;
}

#first-item {
    color: red;
    font-size: 25px;
}

#link1 {
 color: red;
}

.nav-menu a {
    text-decoration: none;
}

